@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato-Regular.eot);
    src: url(../../fonts/Lato-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Lato-Regular.woff2) format("woff2"), url(../../fonts/Lato-Regular.woff) format("woff"), url(../../fonts/Lato-Regular.ttf) format("truetype"), url(https://www.hesk.com/demo/theme/hesk3/customer/fonts/Lato-Regular.svg#Lato-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato;
    src: url(../../fonts/Lato-Bold.eot);
    src: url(../../fonts/Lato-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Lato-Bold.woff2) format("woff2"), url(../../fonts/Lato-Bold.woff) format("woff"), url(../../fonts/Lato-Bold.ttf) format("truetype"), url(https://www.hesk.com/demo/theme/hesk3/customer/fonts/Lato-Bold.svg#Lato-Bold) format("svg");
    font-weight: 700;
    font-style: normal
}